<html>

<head>
</head>

<body>
    <h1>user detail</h1>
    <!-- <img src="/public/baby.jpg"> -->
    <table>
        <tr>
            <td>username</td>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <td>first</td>
            <td>{{ user.name.first }}</td>
        </tr>
        <tr>
            <td>last</td>
            <td>{{ user.name.last }}</td>
        </tr>
    </table>

</body>

</html>